<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="shortcut icon" href="/static/img/Logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/estilos.css">
  <title>FutbolRed Kevin</title>
  <style>
   
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
        <div class="container" id="liga-betplay">
          <a class="navbar-brand" href="#"><img src="static/img/Logo.jpg" alt="Logo" width="30"> FutbolRed</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('inicio') }}">Inicio</a></li>
    
              <!-- Dropdown Fútbol Colombiano -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  Fútbol Colombiano
                </a>
                <ul class="dropdown-menu">
                  
                  <li><a class="dropdown-item" href="{{ url_for('copaB') }}">Copa BetPlay</a></li>
                </ul>
              </li>
    
              <!-- Dropdown Fútbol Internacional -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  Internacional
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('ligaE') }}">Liga de España</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('premierL') }}">Premier League</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('championsL') }}">Champions League</a></li>
                  championsL
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav><br>
      <div class="container">
        <h5>LIGA BETPLAY</h5>
        <a class="navbar-brand" href="#"><img src="static/img/EscudoJunior.png" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/santafe.png" alt="Logo" width="40"></a>
        <a class="navbar-brand" href="#"><img src="static/img/nacional" alt="Logo" width="40"></a>
        <a class="navbar-brand" href="#"><img src="static/img/medellin" alt="Logo" width="55"></a>
        <a class="navbar-brand" href="#"><img src="static/img/cali" alt="Logo" width="62"></a>
        <a class="navbar-brand" href="#"><img src="static/img/junior" alt="Logo" width="55"></a>
        <a class="navbar-brand" href="#"><img src="static/img/oncecaldas" alt="Logo" width="45"></a>
        <a class="navbar-brand" href="#"><img src="static/img/americacali" alt="Logo" width="40"></a>
        <a class="navbar-brand" href="#"><img src="static/img/jaguares" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/tolima" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/unionmagdalena" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/alianza" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/envigado" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/aguilasdoradas" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/pasto" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/cucuta" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/patriotas" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/huils" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/equidad" alt="Logo" width="50"></a>
        <a class="navbar-brand" href="#"><img src="static/img/bucaramanga" alt="Logo" width="50"></a>
        <div class="container highlight mt-5"></div>

      <!-- TABLA -->  
      <body>
        <div class="container mt-5">
          <h2 class="mb-4">Tabla de Posiciones Liga BetPlay</h2>
          <div class="table-responsive">
            <table class="table table-striped table-hover align-middle text-center">
              <thead class="table-light">
                <tr>
                  <th>POS.</th>
                  <th>Equipo</th>
                  <th>PTS</th>
                  <th>PJ</th>
                  <th>G</th>
                  <th>E</th>
                  <th>P</th>
                  <th>GF</th>
                  <th>GC</th>
                  <th>DG</th>
                </tr>
              </thead>
              <tbody>
                <!-- fila -->
                <tr>
                  <td>1</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/América de Cali.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">América de Cali</span>
                    </div>
                  </td>
                  <td>33</td>
                  <td>18</td>
                  <td>9</td>
                  <td>6</td>
                  <td>3</td>
                  <td>25</td>
                  <td>12</td>
                  <td>13</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Atlético Nacional.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Atlético Nacional</span>
                    </div>
                  </td>
                  <td>32</td>
                  <td>17</td>
                  <td>9</td>
                  <td>5</td>
                  <td>3</td>
                  <td>32</td>
                  <td>15</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <div class="align-items-center">
                      <div class="flex-shrink-0 me-2">
                        <p><img src="static/img/Junior.png" alt="Escudo" class="logo-img">junior</p>
                      </div>
                      <div class="text-start">
                      </div>
                    </div>
                  </td>
                  <td>31</td>
                  <td>17</td>
                  <td>8</td>
                  <td>7</td>
                  <td>2</td>
                  <td>20</td>
                  <td>11</td>
                  <td>9</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Millonarios.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Millonarios</span>
                    </div>
                  </td>
                  <td>30</td>
                  <td>16</td>
                  <td>9</td>
                  <td>3</td>
                  <td>4</td>
                  <td>23</td>
                  <td>13</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Independiente Medellín.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Independiente Medellín</span>
                    </div>
                  </td>
                  <td>29</td>
                  <td>17</td>
                  <td>7</td>
                  <td>8</td>
                  <td>1</td>
                  <td>17</td>
                  <td>6</td>
                  <td>11</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Independiente Santa Fe.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Independiente Santa Fe</span>
                    </div>
                  </td>
                  <td>27</td>
                  <td>17</td>
                  <td>7</td>
                  <td>6</td>
                  <td>4</td>
                  <td>23</td>
                  <td>16</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Deportes Tolima.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Deportes Tolima</span>
                    </div>
                  </td>
                  <td>27</td>
                  <td>16</td>
                  <td>7</td>
                  <td>6</td>
                  <td>3</td>
                  <td>22</td>
                  <td>15</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Once Caldas.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Once Caldas</span>
                    </div>
                  </td>
                  <td>26</td>
                  <td>17</td>
                  <td>7</td>
                  <td>5</td>
                  <td>5</td>
                  <td>17</td>
                  <td>16</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Deportivo Pasto.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Deportivo Pasto</span>
                    </div>
                    <td>26</td>
                    <td>17</td>
                    <td>7</td>
                    <td>5</td>
                    <td>5</td>
                    <td>17</td>
                    <td>16</td>
                    <td>1</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Deportivo Cali.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Deportivo Cali</span>
                    </div>
                  </td>
                  <td>24</td>
                  <td>17</td>
                  <td>5</td>
                  <td>9</td>
                  <td>3</td>
                  <td>14</td>
                  <td>12</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Alianza.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Alianza</span>
                    </div>
                  </td>
                  <td>23</td>
                  <td>17</td>
                  <td>6</td>
                  <td>5</td>
                  <td>6</td>
                  <td>14</td>
                  <td>28</td>
                  <td>-4</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Deportivo Pereira.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Deportivo Pereira</span>
                    </div>
                  </td>
                  <td>21</td>
                  <td>16</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>18</td>
                  <td>19</td>
                  <td>-1</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Atlético Bucaramanga.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Atlético Bucaramanga</span>
                    </div>
                  </td>
                  <td>20</td>
                  <td>17</td>
                  <td>5</td>
                  <td>5</td>
                  <td>7</td>
                  <td>16</td>
                  <td>18</td>
                  <td>-2</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Envigado.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Envigado</span>
                    </div>
                  </td>
                  <td>18</td>
                  <td>17</td>
                  <td>5</td>
                  <td>3</td>
                  <td>9</td>
                  <td>15</td>
                  <td>24</td>
                  <td>-9</td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Llaneros.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Llaneros</span>
                    </div>
                  </td>
                  <td>17</td>
                  <td>17</td>
                  <td>5</td>
                  <td>2</td>
                  <td>10</td>
                  <td>16</td>
                  <td>22</td>
                  <td>-6</td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Fortaleza CEIF.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Fortaleza CEIF</span>
                    </div>
                  </td>
                  <td>17</td>
                  <td>17</td>
                  <td>4</td>
                  <td>5</td>
                  <td>8</td>
                  <td>10</td>
                  <td>22</td>
                  <td>-12</td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/Boyacá Chicó.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">Boyacá Chicó</span>
                    </div>
                  </td>
                  <td>17</td>
                  <td>18</td>
                  <td>3</td>
                  <td>8</td>
                  <td>7</td>
                  <td>10</td>
                  <td>26</td>
                  <td>-16</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/aguilasdoradas" alt="Escudo" class="logo-img">
                      <span class="ms-2">	Águilas Doradas</span>
                    </div>
                  </td>
                  <td>12</td>
                  <td>17</td>
                  <td>1</td>
                  <td>9</td>
                  <td>7</td>
                  <td>11</td>
                  <td>17</td>
                  <td>-6</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/La Equidad.png" alt="Escudo" class="logo-img">
                      <span class="ms-2">La Equidad</span>
                    </div>
                  </td>
                  <td>10</td>
                  <td>17</td>
                  <td>2</td>
                  <td>4</td>
                  <td>11</td>
                  <td>12</td>
                  <td>24</td>
                  <td>-12</td>>
                </tr>
                <tr>
                  <td>20</td>
                  <td>
                    <div class="align-items-center">
                      <img src="static/img/unionmagdalena" alt="Escudo" class="logo-img">
                      <span class="ms-2">Unión Magdalena</span>
                    </div>
                  </td>
                  <td>8</td>
                  <td>16</td>
                  <td>0</td>
                  <td>8</td>
                  <td>8</td>
                  <td>12</td>
                  <td>22</td>
                  <td>-10</td>
                </tr>
              </tbody>
            </table>
            <h1>Estadísticas Futbolísticas</h1>
              <h3>Calcular Promedio de Goles por Partido</h3>
              
              <form action="promedio_goles" method="POST">
                  <label>Total de goles:</label>
                  <input type="number" name="goles" required><br><br>
                  <label>Total de partidos:</label>
                  <input type="number" name="partidos" required><br><br>
                  <button type="submit">Calcular</button>
              </form>

              {% if promedio is not none %}
                  <h4>Promedio de goles por partido: {{ promedio }}</h4>
              {% endif %}
            
            <!-- CARTAS -->
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="static/img/SinFalcao.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Sin Falcao: Millonarios, a revalidar clasificación ante Pereira</h5>
                    <p class="card-text">El estadio Nemesio Camacho El Campín volverá a ver fútbol tras eventos musicales.</p>
                    <p class="card-text"><small class="text-body-secondary">06:42 p. m.</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="static/img/CompraLaLiga.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Millonarios tendría definida primera compra para la Liga BetPlay II</h5>
                    <p class="card-text">David González habría aprobado para que la directiva inicie negociaciones con otro club colombiano.</p>
                    <p class="card-text"><small class="text-body-secondary">06:36 p. m..</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="static/img/RenovaFalcao.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">¿Renovará Falcao con Millonarios? Esta sería la exigente condición</h5>
                    <p class="card-text">El estadio Nemesio Camacho El Campín volverá a ver fútbol tras eventos musicales.</p>
                    <p class="card-text"><small class="text-body-secondary">06:42 p. m.</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="static/img/CampinConcierto.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Millonarios, a la espera: así está grama de El Campín tras conciertos</h5>
                    <p class="card-text">El estadio Nemesio Camacho El Campín volverá a ver fútbol tras eventos musicales.</p>
                    <p class="card-text"><small class="text-body-secondary">06:42 p. m.</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="static/img/EquipoFPC.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Equipo del FPC tendría nuevo nombre y escudo: cambiaría radicalmente</h5>
                    <p class="card-text">El nuevo grupo inversión estaría realizando el proceso respectivo para poder establecer los cambios.</p>
                    <p class="card-text"><small class="text-body-secondary">12:16 p. m.</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="static/img/InvacionEstadio.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Unión Magdalena tomó drásticas medidas por invasión a estadio: oficial</h5>
                    <p class="card-text">El presidente del club, Alberto Mario Garzón, a través de un video, confirmó lo que ocurrirá.</p>
                    <p class="card-text"><small class="text-body-secondary">12:03 p. m.</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="static/img/LoHizoSilva.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Lo hizo Silva y lo planeó Ruiz: divertida broma y Llinás ¡al agua!</h5>
                    <p class="card-text">El buen ambiente que hay en Millonarios tras las buenos resultados quedó reflejado en la práctica.</p>
                    <p class="card-text"><small class="text-body-secondary">06:51 a. m.</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="static/img/ContratoJoyas.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Millonarios renovó contrato de una de sus joyas: firmó por tres años</h5>
                    <p class="card-text">El cuadro Embajador confirmó la renovación de un futbolista titular para David González.</p>
                    <p class="card-text"><small class="text-body-secondary">May. 06 de 2025</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="static/img/MorirAtentado.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Milagro salvó a Quintero de morir en atentado: 'son cosas de Dios'</h5>
                    <p class="card-text">El actual defensor de Deportivo Cali se refirió a dolorosos hechos ocurridos hace siete años.</p>
                    <p class="card-text"><small class="text-body-secondary">May. 06 de 2025</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body> 
</body>
</html>