<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/static/css/estilos.css">
  <link rel="shortcut icon" href="/static/img/Logo.jpg" type="image/x-icon">
  <title>FutbolRed Kevin</title>
  <style>
   
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
        <div class="container" id="liga-betplay">
          <a class="navbar-brand" href="#"><img src="/static/img/Logo.jpg" alt="Logo" width="30"> FutbolRed</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('inicio') }}">Inicio</a></li>
    
              <!-- Dropdown Fútbol Colombiano -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  Fútbol Colombiano
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('liga') }}">Liga BetPlay</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('copaB') }}">Copa BetPlay</a></li>
                </ul>
              </li>
    
              <!-- Dropdown Fútbol Internacional -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  Internacional
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('premierL') }}">Premier League</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('championsL') }}">Champions League</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- SECCIÓN PRINCIPAL DE NOTICIAS -->
      <div class="container mt-4 highlight mt-5">
        <div class="row">
          <!-- Noticia destacada -->
          <div class="col-md-8 main-news">
            <h1>España - Primera División: Atlético de Madrid vs Real Sociedad Fecha 35</h1>
            <img src="/static/img/AtleticoMadrid.webp" alt="Barcelona">
            <p>A partir de las 14:00 horas el próximo sabado 10 de mayo, Real Sociedad visita a Atlético de Madrid en el estadio el Metropolitano, por el duelo correspondiente a la fecha 35 de la Liga. Este juego pone cara a cara a dos equipos que consiguieron un empate en su último enfrentamiento y que tratarán de quedarse con los tres puntos para avanzar en el torneo.</p>
            <P>Atlético de Madrid llega con resultado de empate, 0-0, ante Alavés. Tiene un historial irregular con 1 derrota y 3 victorias en los últimos 4 partidos disputados, con 4 goles en contra. Marcó 9 tantos en el rival en esos encuentros. Con un punto para cada uno finalizó el juego anterior entre Real Sociedad y Athletic Bilbao, con un marcador 0-0. Con resultados irregulares en las jornadas más recientes, el equipo cuenta con 1 triunfo, 1 empate y 2 partidos perdidos. Marcó 5 goles al rival y le han convertido 6 tantos en esos cotejos.</P>
          </div> 
          <!-- CARTAS -->
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/Mallorca vs Valladolid.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">España - Primera División: Mallorca vs Valladolid Fecha 35</h5>
                  <p class="card-text">Fútbol - España - Primera División</p>
                  <p class="card-text"><small class="text-body-secondary">09:00 a. m.</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/Valencia vs Getafe.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">España - Primera División: Valencia vs Getafe Fecha 35</h5>
                  <p class="card-text">Fútbol - España - Primera División</p>
                  <p class="card-text"><small class="text-body-secondary">09:00 a. m.</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/Celta vs Sevilla Fecha.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">España - Primera División: Celta vs Sevilla Fecha 35</h5>
                  <p class="card-text">Fútbol - España - Primera División</p>
                  <p class="card-text"><small class="text-body-secondary">08:55 a. m.</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/Girona vs Villarreal.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">España - Primera División: Girona vs Villarreal Fecha 35</h5>
                  <p class="card-text">Fútbol - España - Primera División</p>
                  <p class="card-text"><small class="text-body-secondary">08:55 a. m.</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/May. 06 de 2025 Ancelotti.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Ancelotti tendría fecha y partido para firmar adiós en Real Madrid</h5>
                  <p class="card-text">El técnico y el club español tendrían todo acordado para la salida. El clásico, determinante.</p>
                  <p class="card-text"><small class="text-body-secondary">May. 06 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/EstrellaLiverpool.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Real Madrid y su plan para arribo anticipado de estrella del Liverpool</h5>
                  <p class="card-text">Luego de decir adiós a los Reds, el jugador tendría fichaje encaminado y torneo listo para debutar.</p>
                  <p class="card-text"><small class="text-body-secondary">May. 06 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/UD Las Palmas.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">UD Las Palmas se enfrenta ante la visita Rayo Vallecano por la fecha 35</h5>
                  <p class="card-text">Fútbol - España - Primera División</p>
                  <p class="card-text"><small class="text-body-secondary">May. 06 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/GironaMallorca.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Apretada victoria de Girona frente a Mallorca</h5>
                  <p class="card-text">Fútbol - España - Primera División</p>
                  <p class="card-text"><small class="text-body-secondary">May. 05 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/RealSociedadAthetic.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Real Sociedad y Athletic Bilbao empataron 0 a 0 en el derbi vasco</h5>
                  <p class="card-text">Fútbol - España - Primera División</p>
                  <p class="card-text"><small class="text-body-secondary">May. 04 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
</body>
</html>