<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="shortcut icon" href="/static/img/Logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/estilos.css">
  <title>FutbolRed Kevin</title>
  <style>
   
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
        <div class="container" id="liga-betplay">
          <a class="navbar-brand" href="#"><img src="/static/img/Logo.jpg" alt="Logo" width="30"> FutbolRed</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('inicio') }}">Inicio</a></li>
    
              <!-- Dropdown Fútbol Colombiano -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  Fútbol Colombiano
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('liga') }}">Liga BetPlay</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('copaB') }}">Copa BetPlay</a></li>
                </ul>
              </li>
    
              <!-- Dropdown Fútbol Internacional -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  Internacional
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('ligaE') }}">Liga de España</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('championsL') }}">Champions League</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- SECCIÓN PRINCIPAL DE NOTICIAS -->
      <div class="container mt-4 highlight mt-5">
        <div class="row">
          <!-- Noticia destacada -->
          <div class="col-md-8 main-news">
            <h1>Inglaterra - Premier League: Bournemouth vs Aston Villa Fecha 36</h1>
            <img src="/static/img/BournemouthAston Villa.webp" alt="Barcelona">
            <p>El próximo sabado 10 de mayo, a partir de las 11:30 horas, Aston Villa visita a Bournemouth en el Vitality Stadium, por el duelo correspondiente a la fecha 36 de la Premier League. Los equipos llegan a esta jornada con mentalidad ganadora y es de esperar un atractivo partido. Los dos vencieron a sus rivales en su último partido e intentarán un nuevo triunfo.</p>
            <P>Bournemouth ganó su último duelo ante Arsenal por 2 a 1. Se enfrenta a una nueva oportunidad de vencer y no dejar en el camino puntos para remontar en la tabla de posiciones. En las últimas jornadas, tuvo una cifra de 4 goles en contra y 6 a favor.</P>
          </div> 
          <!-- CARTAS -->
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/Fulham vs Everton.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Inglaterra - Premier League: Fulham vs Everton Fecha 36</h5>
                  <p class="card-text">Fútbol - Inglaterra - Premier League</p>
                  <p class="card-text"><small class="text-body-secondary">06:55 a. m.</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/WolverhamptonvsBrighton.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Inglaterra - Premier League: Wolverhampton vs Brighton and Hove Fecha 36</h5>
                  <p class="card-text">Fútbol - Inglaterra - Premier Leaguev</p>
                  <p class="card-text"><small class="text-body-secondary">06:50 a. m.</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/Southampton vs Manchester City.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Inglaterra - Premier League: Southampton vs Manchester City Fecha 36</h5>
                  <p class="card-text">Fútbol - Inglaterra - Premier League</p>
                  <p class="card-text"><small class="text-body-secondary">06:50 a. m.</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/Ipswich Town vs Brentford.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Inglaterra - Premier League: Ipswich Town vs Brentford Fecha 36</h5>
                  <p class="card-text">Fútbol - Inglaterra - Premier League</p>
                  <p class="card-text"><small class="text-body-secondary">06:50 a. m.</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/LuizDiaz.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Díaz perdería otro compañero en Liverpool: iría a grande de Sudamérica</h5>
                  <p class="card-text">El jugador sería el fichaje estrella de un club que jugará el Mundial de Clubes 2025.</p>
                  <p class="card-text"><small class="text-body-secondary">May. 06 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/RealPlan.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Real Madrid y su plan para arribo anticipado de estrella del Liverpool</h5>
                  <p class="card-text">Luego de decir adiós a los Reds, el jugador tendría fichaje encaminado y torneo listo para debutar.</p>
                  <p class="card-text"><small class="text-body-secondary">May. 06 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/DanielMuñoz.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Daniel Muñoz suena pero NO sería plan A: ¿qué le ofrece a Liverpool?</h5>
                  <p class="card-text">El antioqueño tiene muy dura competencia para reemplazar a Trent Alexander-Arnold</p>
                  <p class="card-text"><small class="text-body-secondary">May. 05 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/Arne Slot.webp" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Arne Slot defendió a Liverpool tras derrota: 'Una buena actuación'</h5>
                  <p class="card-text">El equipo campeón de la Premier League no logró continuar su racha de victorias ante Chelsea.</p>
                  <p class="card-text"><small class="text-body-secondary">May. 04 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/DiazFavorito.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Díaz es el favorito de muchos, pero ¿quién es su colombiano favorito?</h5>
                  <p class="card-text">El colombiano se sinceró después de coronarse campeón de la Premier League.</p>
                  <p class="card-text"><small class="text-body-secondary">May. 05 de 2025</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>